{% load static %}
<header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="#" class="nav-link text-dark" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-dark">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-dark">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-dark">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link text-dark">About</a></li>
    </ul>
  </header>