{% load static %}
    <div class="p-5 text-center rounded-3">
      <h1 class="text-body-emphasis">Hi, Iam Fenny Varghese</h1>
      <p class="lead">
        Experienced full-stack developer specializing in scalable web apps and software solutions.
      </p>
    </div>


    <div class="px-4 py-1" id="icon-grid">
        <h2 class="pb-0 mb-3 px-5 border-bottom">Programming Languages</h2>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
          <div class="col d-flex align-items-start">
            <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap"></use></svg>
            <div>
              <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Python</h3>
              <p>Experienced in Python bringing skills to improve code quality, maintainability and functionality. Skilled in Test-Driven Development with Agile methodology</p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalTour">
        <div class="row gy-4 d-flex align-items-stretch">
          <!-- Frontend Technologies -->
          <div class="col-md-4 d-flex">
            <div class="modal-dialog w-100" role="document">
              <div class="modal-content rounded-4 shadow h-100">
                <div class="modal-body p-5">
                  <h2 class="fs-3 fw-bold mb-0">Frontend Technologies</h2>
                  <ul class="d-grid gap-4 my-5 list-unstyled small">
                    <li class="d-flex gap-4">
                      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                      <div>

                        <h5 class="mb-0">Frameworks</h5>
                        <ul>
                          <li class="fs-6 fw-medium">HTML</li>
                          <li class="fs-6 fw-medium">React.js (Basics)</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">Styling Tools</h5>
                        <ul>
                          <li class="fs-6 fw-medium">BootStrap CSS</li>
                          <li class="fs-6 fw-medium">Tailwind CSS (Basics)</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">State Management</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Redux</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
                      <div>

                        <h5 class="mb-0">Testing</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Pytest</li>
                          <li class="fs-6 fw-medium">Behave (Basics)</li>
                        </ul>

                      </div>
                    </li>
                  </ul>
                 
                </div>
              </div>
            </div>
          </div>
      
          <!-- Backend Technologies -->
          <div class="col-md-4 d-flex">
            <div class="modal-dialog w-100" role="document">
              <div class="modal-content rounded-4 shadow h-100">
                <div class="modal-body p-5">
                  <h2 class="fs-3 fw-bold mb-0">Backend Technologies</h2>
                  <ul class="d-grid gap-4 my-5 list-unstyled small">
                    <li class="d-flex gap-4">
                      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                      <div>
                        <h5 class="mb-0">Languages | Frameworks</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Python</li>
                          <li class="fs-6 fw-medium">Django</li>
                          <li class="fs-6 fw-medium">Flask</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">APIs</h5>
                        <ul>
                          <li class="fs-6 fw-medium">RESTful API</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Database -->
          <div class="col-md-4 d-flex">
            <div class="modal-dialog w-100" role="document">
              <div class="modal-content rounded-4 shadow h-100">
                <div class="modal-body p-5">
                  <h2 class="fs-3 fw-bold mb-0">Databases</h2>
                  <ul class="d-grid gap-4 my-5 list-unstyled small">
                    <li class="d-flex gap-4">
                      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                      <div>
                        <h5 class="mb-0">Relational</h5>
                        <ul>

                          <li class="fs-6 fw-medium">PostgreSQL</li>
                          <li class="fs-6 fw-medium">MySQL</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">NoSQL</h5>
                        <ul>

                          <li class="fs-6 fw-medium">MongoDB</li>
                          <li class="fs-6 fw-medium">Firebase Cloud Firestore</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">ORM</h5>
                        <ul>
                          <li class="fs-6 fw-medium">PonyORM (Basics)</li>
                          <li class="fs-6 fw-medium">pgAdmin</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
      
        </div> <!-- End of row -->
        <div class="row gy-4 d-flex align-items-stretch">
          <!-- Frontend Technologies -->
          <div class="col-md-4 d-flex">
            <div class="modal-dialog w-100" role="document">
              <div class="modal-content rounded-4 shadow h-100">
                <div class="modal-body p-5">
                  <h2 class="fs-3 fw-bold mb-0">Deployments</h2>
                  <ul class="d-grid gap-4 my-5 list-unstyled small">
                    <li class="d-flex gap-4">
                      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                      <div>

                        <h5 class="mb-0">Web Hosting</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Amazon Web Services</li>
                          <li class="fs-6 fw-medium">Google Cloud Platform</li>
                          <li class="fs-6 fw-medium">Heroku</li>
                          <li class="fs-6 fw-medium">Netlify</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">Styling Tools</h5>
                        <ul>
                          <li class="fs-6 fw-medium">BootStrap CSS</li>
                          <li class="fs-6 fw-medium">Tailwind CSS (Basics)</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">CI/CD | IaC Tools</h5>
                        <ul>
                          <li class="fs-6 fw-medium">CodeBuild (Basics)</li>
                          <li class="fs-6 fw-medium">CodePipeline (Basics)</li>
                          <li class="fs-6 fw-medium">CodeDeploy (Basics)</li> 
                          <li class="fs-6 fw-medium">Github Actions (Basics)</li>
                          <li class="fs-6 fw-medium">Terraform</li>
                          <li class="fs-6 fw-medium">AWS CLoudFormation (Basics)</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-primary flex-shrink-0" width="48" height="48"><use xlink:href="#film"></use></svg>
                      <div>
                        <h5 class="mb-0">Testing</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Pytest</li>
                          <li class="fs-6 fw-medium">Behave (Basics)</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                 
                </div>
              </div>
            </div>
          </div>
      
          <!-- Backend Technologies -->
          <div class="col-md-4 d-flex">
            <div class="modal-dialog w-100" role="document">
              <div class="modal-content rounded-4 shadow h-100">
                <div class="modal-body p-5">
                  <h2 class="fs-3 fw-bold mb-0">Other Tools</h2>
                  <ul class="d-grid gap-4 my-5 list-unstyled small">
                    <li class="d-flex gap-4">
                      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                      <div>
                        <h5 class="mb-0">Version Control</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Git</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">Collaboration</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Discord</li>
                          <li class="fs-6 fw-medium">Slack</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">Code Quality</h5>
                        <ul>
                          <li class="fs-6 fw-medium">SonarQube</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-warning flex-shrink-0" width="48" height="48"><use xlink:href="#bookmark-star"></use></svg>
                      <div>
                        <h5 class="mb-0">Operating Systems</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Windows</li>
                          <li class="fs-6 fw-medium">Linux</li>
                        </ul>
                      </div>
                    </li>
                    <li class="d-flex gap-4">
                      <svg class="bi text-body-secondary flex-shrink-0" width="48" height="48"><use xlink:href="#grid-fill"></use></svg>
                      <div>
                        <h5 class="mb-0">UI/UX</h5>
                        <ul>
                          <li class="fs-6 fw-medium">Inkscape</li>
                          <li class="fs-6 fw-medium">Spline</li>
                          <li class="fs-6 fw-medium">Blender 3D</li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- End of row -->
      </div> <!-- End of modal -->
      